body {
  padding: 15px;
}

.tag-list-card .el-card__body {
  height: 75px;
  overflow: auto;
  padding: 15px 15px 20px 15px;
}

.mt20 {
  margin-top: 20px;
}
.ml10 {
  margin-left: 10px;
}
.f12 {
  font-size: 12px;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mt5 {
  margin-top: 5px;
}