<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
    content="ie=edge">
  <title>系统监控平台</title>
  <link href="http://cdn.bootcss.com/normalize/8.0.1/normalize.min.css"
    rel="stylesheet">
  <link rel="stylesheet"
    href="http://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet"
    href="./css/sys.css?v=202001021358">
</head>

<body>
  <div id="app"
    class="app_hide">
    <h4>主机内存&磁盘监控</h4>
    <span v-for="item in engine"
      :key="item.name">
      <div style="display: inline-block;text-align: center;">
        <el-progress type="dashboard"
          :percentage="item.memory"
          :color="colors">
        </el-progress>
        <div class="f12" :title="item.memoryHint">
          {{item.name}}#内存
        </div>
      </div>
      <div style="display: inline-block;text-align: center;">
        <el-progress type="dashboard"
          :percentage="item.disk"
          :color="colors">
        </el-progress>
        <div class="f12" :title="item.diskHint">
          {{item.name}}#磁盘
        </div>
      </div>
    </span>

    <h4>系统在线人员统计</h4>
    <el-card class="mt20"
      v-for="(clients, key) in roomClients"
      :key="key">
      <div slot="header"
        class="clearfix">
        <span>{{key}}</span>
      </div>
      <template v-for="(client, index) in clients">
        <el-tooltip :key="client.clientId"
          placement="top"
          effect="light">
          <div slot="content">
            用户： {{client.userId}}
            <br>
            连接时间： {{client.connectTimeShow}}
            <br>
            活跃时间： {{client.lastLiveTimeShow}}
          </div>
          <el-tag :class="{ml10: index !== 0}" :type="client.noLiveTime > 300000 ? 'info': (client.noLiveTime > 180000 ? 'warning' : 'success')">{{client.username}} - {{client.version}}</el-tag>
        </el-tooltip>
      </template>
    </el-card>
  </div>
  <script src="./lib/jquery/3.4.1/jquery.min.js"></script>
  <script src="./lib/socket.io/2.3.0/socket.io.js"></script>
  <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="http://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
  <script src="http://cdn.bootcss.com/moment.js/2.24.0/locale/zh-cn.js"></script>
  <!-- <script src="http://cdn.bootcss.com/echarts/4.1.0/echarts.min.js"></script> -->
  <script>
    const API = ''
    // const API = "http://csj-center-egg-v2.shop.csj361.com"
    Vue.prototype.$ELEMENT = { size: 'mini', zIndex: 3000 };
    var app = new Vue({
      el: '#app',
      data: {
        reload: false,
        rooms: [],
        roomClients: {},
        paddingTime: 0,
        engine: [
          {
            name: '192.168.1.38',
            memory: 10,
            disk: 20,
          },
          {
            name: '192.168.1.42',
            memory: 92,
            disk: 85,
          }
        ],
        colors: [
          { color: '#6f7ad3', percentage: 40 },
          { color: '#1989fa', percentage: 60 },
          { color: '#5cb87a', percentage: 80 },
          { color: '#e6a23c', percentage: 90 },
          { color: '#f56c6c', percentage: 100 },
        ]
      },
      created() {
        this.initEngine()
        const socket = io(API + '/sys', {
          // 实际使用中可以在这里传递参数
          query: {
            room: 'center',
            userId: `csj-center-egg_client_${Math.random()}`,
            username: 'csj-center-egg'
          },
          transports: ['websocket']
        });
        socket.on('user all online', msg => {
          const { clients, meta } = msg
          this.paddingTime = Date.now() - meta.timestamp
          let temp = new Set()
          let roomClients = {}
          clients.forEach(v => {
            v.connectTimeShow = this.fromNow(v.connectTime)
            v.lastLiveTimeShow = this.fromNow(v.lastLiveTime)
            v.noLiveTime = Date.now() - (new Date(v.lastLiveTime)).getTime() - this.paddingTime

            temp.add(v.room)
            roomClients[v.room] = roomClients[v.room] || []
            roomClients[v.room].push(v)
          })
          this.rooms = [...temp]
          this.roomClients = roomClients
        });
        socket.on('user room online', msg => {
          const { room, clients, client, action } = msg
          if (action === 'join') {
            if (!this.roomClients[room]) {
              this.$set(this.roomClients, room, [])
            }
            client.connectTimeShow = this.fromNow(client.connectTime)
            client.lastLiveTimeShow = this.fromNow(client.lastLiveTime)
            client.noLiveTime = Date.now() - (new Date(client.lastLiveTime)).getTime() - this.paddingTime

            this.roomClients[room].unshift(client)
          } else {
            this.roomClients[room].splice(this.roomClients[room].findIndex(v => v.clientId === client.clientId), 1)
            if (this.roomClients[room].length === 0) {
              delete this.roomClients[room]
              this.roomClients = { ...this.roomClients }
            }
          }
        })
        socket.on('on living', client => {
          const { room, clientId } = client
          client.connectTimeShow = this.fromNow(client.connectTime)
          client.lastLiveTimeShow = this.fromNow(client.lastLiveTime)
          client.noLiveTime = Date.now() - (new Date(client.lastLiveTime)).getTime() - this.paddingTime

          this.roomClients[room].splice(this.roomClients[room].findIndex(v => v.clientId === clientId), 1)
          this.roomClients[room].unshift(client)
        })
      },
      mounted() {
        this.reload = true
        $('#app').removeClass('app_hide')
        setInterval(() => {
          for (let room in this.roomClients) {
            this.roomClients[room].forEach(v => {
              v.connectTimeShow = this.fromNow(v.connectTime)
              v.lastLiveTimeShow = this.fromNow(v.lastLiveTime)
              v.noLiveTime = Date.now() - (new Date(v.lastLiveTime)).getTime() - this.paddingTime
            })
          }
        }, 3000) // 3 秒更新一次用户上一次活跃
      },
      methods: {
        moment,
        fromNow(time) {
          let res = (new Date(time)).getTime() + this.paddingTime
          return this.moment(res).fromNow()
        },
        initEngine() {
          const toG = num => (num / 1024 / 1024).toFixed(2)
          const _ = () => {
            $.get(API + '/api/engineState?pageSize=999').then(res => {
              this.engine = res.list.map(v => {
                return {
                  name: v.remark,
                  ip: v.ip,
                  memory: Math.round(Number((v.memoryUsed / v.memoryTotal).toFixed(2)) * 100),
                  disk: Math.round(Number((v.diskUsed / v.diskTotal).toFixed(2)) * 100),
                  memoryHint: `${v.ip} - 内存：${toG(v.memoryUsed)}G / ${toG(v.memoryTotal)}G`,
                  diskHint: `${v.ip} - 磁盘：${toG(v.diskUsed)}G / ${toG(v.diskTotal)}G`
                }
              })
            })
          }
          _()
          setInterval(_, 30000) // 30秒更新一次
        }
      }
    })
  </script>
</body>

</html>